/* initial setup */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  color:var(--mainBlack);
  height:100%;
  width:100%;
  display: flex;
  flex-flow:column wrap;
  background-image:url('https://st4.depositphotos.com/7781012/19866/v/1600/depositphotos_198662048-stock-illustration-man-at-computer-filling-online.jpg');
  background: cover;


}
nav{
  height:10vh;
  width:100%;
  display: flex;
  padding:1rem;
}
nav img{
  height:60px;
  width:60px;
  margin-left:5rem;

}
nav h1{
  text-color:center;
  color:white;
  margin-left:5rem;
  font-size:2rem;
}
.main-content{
  color:var(--mainBlack);
  height:90vh;
  width:100%;
  position:relative;
  font-family: 'Nunito Sans', sans-serif;
}
.btn-quiz{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:7rem;
  height:3rem;
  font-size:1.5rem;
  background:goldenrod;
  border:0;
  color:#fff;
  cursor:pointer;
  transition:all 0.4s linear;
}
.btn-quiz:hover{
  background:transparent;
  border:1px solid goldenrod;
  color:goldenrod;
}
.form{
  position:absolute;
  caret-color: white;
  cursor: pointer;
  top:16%;
  left:38%;
  transform:translate(-50%,-50%);
  padding:2rem;
  width:25vw;
  height:auto;
  background:white;
  box-shadow: 4px 4px 8px  5px rgba(0,0,0,0.5),-4px -4px 8px  5px rgba(0,0,0,0.5);
  transition: all 0.7s linear;
  transform:scale(0);
  z-index:99;
}
.form.hide{
  transform:scale(1);
}
.form-group{
  padding:1rem 0;
  display:flex;
  flex-flow:column wrap;

}
label{
  margin-right:2rem;
}
.form-control{
  width:100%;
  height:2rem;
  border:0;
  background:grey;
}
input{
  font-size:1rem;

}
input:focus{
  outline:none;
  border:0;
}

.close{
  position: absolute;
  right:-3.3%;
  top:-4.7%;
  color:#fff;
  border-radius: 50%;
  font-size: 3rem;
  background:red;
  width:2rem;
  height:2rem;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  transition: all 0.4s linear;
}
.close:hover{
  background:white;
  color:red;


}
.mysubmit{
  display:flex;
  justify-content:flex-end;
  margin-right:3rem;
  text-align:right;
  width:100%;

}
.submit{
  background: skyblue;
  height:2rem;
  border:0;
  outline:null;
  cursor: pointer;
}
input[type="submit"]{
  border:0;
  width:5rem;
  height:2rem;
  background: goldenrod;

}
.error_message{
  color:red;
  margin:0.5rem 0 0 0.6rem;
  display:none;

}
.error_message.show_error{
  display:block;
}
@media  screen and (max-width:765px){
  .form{
    width:75vw;
    margin: auto;
  }
}
